* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #1e1c2a;
    --big-font: 3.5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9em;
}

*::selection {
    background-color: var(--main-color);
    color: var(--text-color);
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background-color: var(--bg-color);
}

header .logo {
    color: var(--main-color);
    font-size: 2.4rem;
    font-weight: 600;
}

header .navbar {
    display: flex;
}

header .navbar li a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: 0.4s;
}

header .navbar li a:hover {
    color: var(--main-color);
}

section {
    padding: 70px 17%;
}

.home {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.home-img img {
    max-width: 100%;
    width: 400px;
    height: auto;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.2) translateY(10px);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.about-img img {
    max-width: 100%;
    width: 480px;
    height: auto;
}

.about-text span {
    color: var(--main-color);
    font-weight: 600;
}

.about-text h2 {
    font-size: var(--h2-font);
}

.about-text p {
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}

.heading {
    text-align: center;
}

.heading span {
    color: var(--main-color);
    font-weight: 600;
}

.heading h2 {
    font-size: var(--h2-font);
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}

.menu-container .box {
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #feeee7;
    padding: 20px;
    border-radius: 0.5rem;
}

.menu-container .box-img {
    width: 220px;
    height: 220px;
}

.menu-container .box-img img {
    width: 100%;
    height: 100%;
}

.menu-container .box h2 {
    font-size: 1.3rem;
    color: var(--bg-color);
}

.menu-container .box h3 {
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}

.menu-container .box span {
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
}

.menu-container .box .bx {
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}

.service-box {
    text-align: center;
    padding: 20px 30px;
}

.service-box img {
    width: 90px;
}

.service-box h3 {
    margin: 4px 0 10px;
    color: var(--main-color);
    font-size: 1.2rem;
}

.service-box p {
    line-height: 1.7;
}

.cta {
    background-color: #feeee7;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10px;
}

.cta h2 {
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 30px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0;
}

.col {
    width: 25%;
}

.col h4 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background-color: var(--main-color);
}

.col ul li:not(:last-child) {
    margin-bottom: 15px;
}

.col ul li a {
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: 0.4s;
}

.col ul li a:hover {
    color: var(--text-color);
    transform: translateX(-12px);
}

.col .social {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .social a {
    height: 40px;
    width: 40px;
    color: var(--text-color);
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: 0.4s;
}

.col .social a:hover {
    transform: scale(1.2);
    color: var(--bg-color);
    background-color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 1560px) {
    header {
        padding: 20px 100px;
    }
}

@media (max-width: 1200px) {
    header {
        padding: 20px 50px;
    }
    section {
        padding: 60px 8%;
    }
    .home-img img,
    .about-img img {
        width: 100%;
    }
    .cta {
        width: 80%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 15px 30px;
    }
    section {
        padding: 50px 5%;
    }
    :root {
        --big-font: 3rem;
        --h2-font: 2rem;
    }
    .col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    /* تعديلات القائمة */
    header .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    header .navbar li {
        width: 50%;
        text-align: center;
        padding: 5px 0;
    }
    
    header .navbar li a {
        padding: 8px 10px;
        font-size: 1rem;
    }
    
    /* تعديلات المحتوى */
    .home,
    .about {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 100px;
    }
    
    .home-img,
    .about-img {
        order: 2;
        margin-top: 30px;
    }
    
    .home-img img,
    .about-img img {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .btn:hover {
        transform: scale(1.1) translateY(5px);
    }
    
    .cta {
        width: 90%;
        margin: 70px auto;
        padding: 50px 15px;
    }
    
    .cta h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) {
    header {
        padding: 15px 20px;
        align-items: center;
        margin-bottom: 200px;
    }
    
    header .logo {
        margin-bottom: 15px;
    }
    
    :root {
        --big-font: 2.5rem;
        --h2-font: 1.8rem;
    }
    
    section {
        padding: 50px 3%;
    }
    
    .menu-container,
    .service-container {
        grid-template-columns: 1fr;
    }
    
    .col {
        width: 100%;
        text-align: center;
    }
    
    .col h4::before {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .col .social {
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    :root {
        --big-font: 2.2rem;
        --h2-font: 1.6rem;
        --p-font: 0.8rem;
    }
    
    .btn {
        padding: 8px 16px;
    }
    
    .menu-container .box {
        padding: 15px;
    }
    
    .menu-container .box-img {
        width: 180px;
        height: 180px;
    }
}